<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div class="container "id="root">
            <nav>
                <div id="nav-left">
                    <div class="logo">
                        <img src="img/netflix_logo.png" alt="">
                    </div>
                    <ul id="nav-menu">
                        <li>Home</li>
                        <li>Serie TV</li>
                        <li>Film</li>
                        <li>Nuovi e popolari</li>
                        <li>La mia lista</li>
                    </u>
                </div>

                <div id="nav-right">
                    <div class="nav-item">
                        <button v-if="show" @click="isActive()" type="button" name="button"></button>
                        <div v-if= "visible" class="search-box">
                            <button @click="isActive()" type="button" name="button"></button>
                            <input v-on:blur="isActive()" @keyup.enter="utent_search(query)" @keyup="isDel()" placeholder="cerca un film o una serie TV" v-model="query" @keyup.enter="utent_search(query)" type="text" ref="search">
                            <span v-if="check" @click="empty(), isDel()" class="icon-del"></span>
                        </div>
                    </div>
                    <div class="nav-item">
                        <span class="icon-gift"></span>
                    </div>
                    <div class="nav-item">
                        <span class="icon-bell"></span>
                    </div>
                    <div class="nav-item avatar">
                        <div class="user">
                            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/1bdc9a33850498.56ba69ac2ba5b.png" alt="">
                        </div>
                    </div>
                </div>

            </nav>

            <div class="text-info">
                <h3 v-if="ricerca">
                    Ricerca in corso
                </h3>
                <h5 v-else-if="query && media.length">
                    Risultati ricerca  per : "{{query}}"
                </h5>

            </div>


            <div class="section-films">
                <div v-if="film.media_type != 'person'" v-for="film in media" class="film-card">
                    <div  class="film-content">
                        <div class="img-box">
                            <img v-if="film.poster_path !== null" :src="'https://image.tmdb.org/t/p/w185' + film.poster_path" @onerror="">
                            <img class="img-dft" v-else="image: true" src="https://www.dia.org/sites/default/files/No_Img_Avail.jpg">
                        </div>

                        <div class="info-box">
                            <div class="back-info-top">
                                <div class="mini-poster">
                                    <img v-if="film.poster_path !== null" :src="'https://image.tmdb.org/t/p/w92' + film.poster_path" @onerror="">
                                    <img class="img-dft" v-else="image: true" src="https://www.dia.org/sites/default/files/No_Img_Avail.jpg">
                                </div>
                                <div class="main-info">
                                    <h4 v-if="film.media_type === 'movie'">
                                        <span class="info-small">Titolo:</span> <br> {{film.title}}
                                    </h4>
                                    <h4 v-if="film.media_type === 'tv'">
                                        <span class="info-small">Titolo:</span> <br> {{film.name}}
                                    </h4>
                                    <!-- <h5 v-if="film.media_type === 'movie'">
                                        <span class="info-small">Titolo originale: <br> {{film.original_title}}
                                    </h5>
                                    <h4 v-if="film.media_type === 'tv'">
                                        <span class="info-small">Titolo originale: <br> {{film.original_name}}
                                    </h4> -->
                                    <p><span class="info-small">Lingua:</span> <br>
                                        <span id="flag">
                                            <img :src="'img/flag/'+film.original_language+'.png'" :alt="film.original_language">
                                        </span>
                                    </p>
                                    <p><span class="info-small">Voto:</span><br> {{vote(film.vote_average)}}/5
                                        <i :class="[index <= vote(film.vote_average) ? solid : '']" v-for="index in 5" class="far fa-star"></i>
                                    </p>
                                    <h4 @click="cast_search(film.id, film.media_type)">scopri il cast</h4>
                                    <p></p>
                                </div>
                            </div>

                            <!-- <li>Type: {{film.media_type}}</li> -->

                        </div>
                    </div>

                </div>


            </div>



        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
